.father {
	width:600px;
	height:5000px;
	border:1px solid #F00;
	margin: auto;
	background-image: linear-gradient(to bottom,grey,white,grey,white);
}

.retop {
	width: 40px;
	height: 40px;
	background-image: url(top.jpg);
	background-size: cover;

	border-radius: 50%;
	box-shadow: 0px 0px 2px 1px grey;
    /*将图片固定到body右下角*/
	position: fixed;
	bottom: 10%;
	right: 1%;
	/*创建过渡改变bottom时触发*/
	transition: bottom 1s ease-out;
	-moz-transition: bottom 1s ease-out;
	-webkit-transition: bottom 1s ease-out;
	-o-transition: bottom 1s ease-out;

}
